* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DS-Digital', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15vmin;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes scroll {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

.resultMarquee {
  width: 100%;
  margin: 0;
  position: absolute;
  /* left: 120%; */
  /* animation: scroll 5s linear infinite; */
}